---
layout: default
---

  <div class="content">

    <article class="article  article--page  typeset">
      {% include video.html id=page.video title="Siteleaf tutorial video" %}
      <h1></h1>
	<pre>
{{ page.title }}	
{{ content }}
	</pre>
    </article>
  </div>


<aside class="aside  typeset  aside--left">
    <section class="section  section--category-index">
	<nav class="nav  nav--categories">
	A Arte de não fazer sentido
	  <ul class="list  list--categories">
	   {% for item in site.letras_disco2 %}
	       {% assign name = item.path | split:"/" | last | split:"." | first %}
	      <li class="item  item--category">
		<a href="{{ item.url }}">{{ name }}</a>
	      </li>
	      {% endfor %}
	  </ul>
	Proibido atirar nos músicos
	  <ul class="list  list--categories">
	   {% for item in site.letras_disco1 %}
	       {% assign name = item.path | split:"/" | last | split:"." | first %}
	      <li class="item  item--category">
		<a href="{{ item.url }}">{{ name }}</a>
	      </li>
	      {% endfor %}
	  </ul>
	</nav>
    </section>

</aside>

